body{
    background-color: blue;
}

#game{
    background-color: gray;
    text-align: center;
    /* border: 2px solid black; */
    padding: 12px;
    margin: 0 auto;;
    max-width: 500px;
    max-height: 400px;
    color: white;
}

#text{
    background-color: black;
    color: white;
    padding: 10px;
}

#controls{
    border: 1px solid black;
    padding: 5px;
}

#stats{
    border: 1px colid black;
    color: black;
    padding: 5px;
}

#monsterStats{
    display: None;
    border: 1px solid black;
    color: white;
    padding: 5px;
    background-color: red;
}

.stat {
    padding: 10px
}